################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/лаба 3/Project1/.vs/Project1/v16
/.vs/LuvSosa/v17
/лаба 3/Лаба3/.vs/Лаба3/v16
/лаба 3/Лаба3/Лаба3/Debug/Лаба3.tlog
/лаба 3/Лаба3/Лаба3/Debug
/лаба 3/Project1
/лаба 3/Лаба3/Debug
/лаба 3/Лаба3/.vs/Лаба3/v17
/лаба 3/Лаба3/.vs/Лаба3/FileContentIndex
/.vs/LuvSosa2/v17
